<% if (theme.gitment){ %>
<section class="comments" id="comments">
    <!-- GITMENT BEGIN -->
    <div id="gitment_container"></div>
    <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
    <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
    <script>
    var gitment = new Gitment({
      owner: 'triplekiller',
      repo: 'triplekiller.github.io',
      oauth: {
        client_id: '063d33196500ebc3fc5d',
        client_secret: 'b6dbbd1714b9df1e618bfcb58a1877f3645f398c',
      },
    })
    gitment.render('gitment_container')
    </script>
    <!-- GITMENT END -->
</section>
<% } %>
